<%=form_for  @recipe  do |t|%>
<%=t.label :name %>
<%=t.text_field :name %>

  <div class="field">

   <%= t.label :ingredients, 'Ingredients:' %><br>
   <%= t.collection_check_boxes :ingredient_ids, @ingredients, :id, :name %>
   
     </div>

<%=t.submit%>
<%end%>